.bank {
  .hero {
    background: #3dd705;
    height: 100vh;
    background-image: url('../svg/bg.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  header {
    background: none;
    padding: 2rem;
    text-align: left;
  }

  .hero-items {
    margin: 25vh 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hero-item-1 {
      display: inline-block;
      text-align: left;

      p {
        color: white;
        font-weight: 400;
        font-size: 3rem;
        line-height: 3rem;
      }
    }

    .hero-item-2 {
      display: inline-block;

      background: white;
      border-radius: 1rem;

      box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1),
                  0.25rem 1rem 1rem rgba(0, 0, 0, 0.1);
      
      padding: 2rem;
      
      p {
        font-size: 1.5rem;
        padding-bottom: 2rem;
      }

      a {
        cursor: pointer;
        text-decoration: none;
        
        border-radius: 10rem;
        border: none;
        padding: 0.5rem 1rem;

        font-size: 1.25rem;
        font-weight: 500;
        text-align: left;
        color: white;

        width: 100%;

        background: var(--green);
        @include flex(space-between, center);
        transition: background 0.3s ease-in-out;

        &:hover {
          background: var(--light-green);
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .bank {
    .hero {
      background-position: right center;
      .hero-items {
        margin: 2rem 2rem;
        @include flex(center, center, column);
  
        .hero-item-1 {
          margin-bottom: 2rem;
          p {
            text-align: center;
            font-size: 2rem;
          }
        }
      }
    }
  }
}