.theme-switch-wrapper {
  align-self: flex-end;
  padding-right: 1rem;

  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 2.3rem;
  position: relative;
  width: 4.3rem;

  input {
    display:none;
  }
}

.slider {
  cursor: pointer;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.4s;

  background-color: #ccc;
  border-radius: 34px;

  &::before {
    content: "";
    position: absolute;
    left: 0.25rem;
    bottom: 50%;
    transform: translateY(50%);

    height: 1.8rem;
    width: 1.8rem;
    
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
  }
}

// Slider seguido de um input checked
input:checked + .slider {
  background-color: var(--green);
}

// Rolar a bolinha para o outro lado
input:checked + .slider:before {
  transform: translate(2rem, 50%);
}